@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: "Lexend Deca", sans-serif;
}
main {
  background-color: hsl(0, 0%, 95%);
  /* padding: 3em; */
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 65vh; */
}
main > * {
  display: flex;
  /* flex-basis: ; */
  flex-direction: column;
  min-height: 370px;
  padding: 1em;
}
main img {
  flex-basis: 5%;
  width: 50%;
  margin-bottom: 17px;
}
main h1 {
  font-size: 30px;
  flex-basis: 20%;
  font-family: "Big Shoulders Display", cursive;
  font-weight: 600;
  color: hsl(0, 0%, 95%);
}
main p {
  flex-basis: 50%;
  padding-bottom: 50px;
  color: white;
  font-size: 13px;
  line-height: 20px;
}
main button {
  flex-basis: 30px;
}
/* main > * > * {
    flex-basis: 100%;
} */
button {
  border-radius: 20px;
  border: none;
  width: 100px;
  /* height: 100px; */
}

.sedan {
  background-color: hsl(34, 86%, 52%);
  /* padding: 3em; */
  padding-bottom: 10px;
  /* min-height: 550px; */
}

.SUV {
  background-color: hsl(197, 86%, 33%);
  /* padding: 3em; */
  padding-bottom: 10px;
  /* height: 60vh; */
}

.luxury {
  background-color: hsl(175, 84%, 15%);
  /* padding: 3em; */
  padding-bottom: 10px;
  /* height: 60vh; */
}

@media screen and (max-width:768px) {
  main {
    flex-direction: column;
  }

  .sedan {
  /* background-color: hsl(125, 86%, 52%); */
  }
}